[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
aiosqlite = "*"
typing-extensions = "*"
greenlet = "*"

[dev-packages]

[requires]
python_version = "*"
