/* global */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* products */
.product-catalog li {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.product-catalog li:nth-of-type(3n) {
  margin-right: 0;
}

/* single product */
.product__price {
  display: inline-block;
  line-height: 34px;
}

.product__button-wrap {
  float: right;
}

/* cart */
.cart ul {
  margin-bottom: .7em;
}

.cart-item {
  margin-bottom: .3em;
}

.cart-item__name {
  display: inline-block;
}

.cart-item__price {
  float: right;
}

.cart__total {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
  text-align: right;
}

/* helpers */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}